<% content_for :head do %>
	<title>Privacy Notice - <%= settings.title %></title>
<% end %>

<% content_for :breadcrumb do %>
	<%== erb :'partials/_breadcrumb', :locals => {name: 'Privacy notice', href: request.path_info, active: true} %>
<% end %>

<div class="container">
	<div class="grid-row">

		<div class="column-two-thirds">
			<h1 class="heading-large">Privacy Notice</h1>
			<p class="summary">Date last modified: 11/05/2018</p>

			<h2 class="heading-medium">Who we are</h2>
			<p>GOV.UK Platform as a Service (PaaS) is a cloud hosting platform for government <a href="https://www.gov.uk/government/organisations" data-click-events data-click-category="Content" data-click-action="External link clicked">departments, agencies and crown bodies</a>. Our users (‘tenants’) access the platform to deploy and run their services in the cloud. These services are then used by the general public (‘end users’). In order to make GOV.UK PaaS secure and available we need to collect, process and store personal data both from tenants and end users.
			   The data we collect from tenants is different from the data we collect from end users, so this document lists them separately.</p>
			<p>GOV.UK PaaS is provided by the Government Digital Service (GDS).</p>
			<p>The data controller for GDS is the Cabinet Office – a data controller determines how and why personal data is processed. <a href="https://ico.org.uk/ESDWebPages/Entry/Z7414053" data-click-events data-click-category="Content" data-click-action="External link clicked">Read the Cabinet Office’s entry in the Data Protection Public Register</a> for more information.</p>

			<h2 class="heading-medium">What data we need from tenants</h2>
			<p>The personal data we collect from you as a tenant will include</p>
			<ul class="list list-bullet">
				<li>your name</li>
				<li>your email address</li>
				<li>your mobile telephone number</li>
				<li>your organisational role</li>
				<li>your IP address</li>
			</ul>
			<p>We need this information to provide a service that is in the public interest, as the apps we host on GOV.UK PaaS are used by the public to access government services.</p>

			<h2 class="heading-small">Why we need data from tenants</h2>
			<p>We use this information to:</p>
			<ul class="list list-bullet">
				<li>create and manage user accounts on GOV.UK PaaS</li>
				<li>identify you while you use it </li>
				<li>keep the platform secure from unauthorised access</li>
			</ul>

			<h2 class="heading-small">What we do with tenants’ data</h2>
			<p>We’ll store the data you provide to:</p>
			<ul class="list list-bullet">
				<li>make your user account function correctly</li>
				<li>manage your user account</li>
				<li>send you updates and notices </li>
			</ul>
			<p>We will not:</p>
			<ul class="list list-bullet">
				<li>sell or rent your data to 3rd parties</li>
				<li>share your data with 3rd parties for marketing purposes</li>
			</ul>
			<p>We will share your data if we are required to do so by law – for example, by court order, or to prevent fraud or other crime.</p>


			<h2 class="heading-small">How long we keep data from tenants</h2>
			<p>We will only retain your personal data for as long as:</p>
			<ul class="list list-bullet">
				<li>the law requires us to</li>
				<li>we need to provide this service </li>
			</ul>
			<p>In general, this means that we will only hold your personal data for a minimum of 1 year and a maximum of 2 years.</p>
			<p>We will delete your personal data when you ask us to remove your user account. It might take up to 35 days for your data to be completely cleared from our logs and back-ups.</p>

			<h2 class="heading-medium">What data we need from end users</h2>
			<p>The personal data we collect from end users will include:</p>
			<ul class="list list-bullet">
				<li>their IP address</li>
				<li>any cookies that are set by your service</li>
			</ul>
			<p>We need this information to provide a service that is in the public interest, as the apps we host on GOV.UK PaaS are used by the public to access government services. </p>

			<h2 class="heading-small">Why we need your end users’ data</h2>
			<p>We need this information to make sure the platform can meet the demand created by end users who access the services hosted on it.</p>

			<h2 class="heading-small">What we do with your end users’ data</h2>
			<p>We use the data provided to:</p>
			<ul class="list list-bullet">
				<li>ensure the security of your service if any cookie you set has that purpose </li>
				<li>monitor the load placed on the platform</li>
				<li>monitor the security of the GOV.UK PaaS </li>
			</ul>
			<p>We will not:</p>
			<ul class="list list-bullet">
				<li>sell or rent your end users’ data to 3rd parties</li>
				<li>share your end users’ data with 3rd parties for marketing purposes </li>
			</ul>
			<p>We will share your end users’ data if we are required to do so by law – for example, by court order, or to prevent fraud or other crime.</p>

			<h2 class="heading-small">How long we keep your end users’ data</h2>
			<p>We will only retain your end users’ personal data for as long as:</p>
			<ul class="list list-bullet">
				<li>the law requires us to</li>
				<li>we need to provide this service </li>
			</ul>
			<p>In general, this means that we will only hold their personal data for a minimum of 1 day and a maximum of 30 days.</p>

			<h2 class="heading-medium">Children’s privacy protection</h2>
			<p>Our services are not designed for, or intentionally targeted at, children who are 13 years or younger. We don’t intentionally collect or maintain data about anyone under the age of 13.</p>

			<h2 class="heading-medium">Where is your data processed and stored</h2>
			<p>We design, build and run our systems to make sure that your data is as safe as possible at any stage, both while it’s processed and when it’s stored.</p>
			<p>All personal data on GOV.UK PaaS is processed, stored and managed entirely in the European Economic Area (EEA), and will not be transferred outside of it. This means that it is covered by EU Data Protection regulations.</p>

			<h2 class="heading-medium">How we protect your data and keep it secure</h2>
			<p>We are committed to doing all that we can to keep your data secure. We set up systems and processes to prevent unauthorised access or disclosure of the data we collect about you – for example, we protect your data using varying levels of encryption. All 3rd parties who process personal data for GDS are required to keep that data secure.</p>

			<h2 class="heading-medium">What are your rights</h2>
			<p>You have the right to request:</p>
			<ul class="list list-bullet">
				<li>information about how your personal data is processed</li>
				<li>a copy of that personal data</li>
				<li>that anything inaccurate in your personal data is corrected immediately </li>
				<li>that any incomplete personal data is completed, including by means of a supplementary statement</li>
				<li>request that your personal data is erased if there is no longer a justification for it – for example if you’re not using the PaaS anymore</li>
				<li>that the processing of your personal data is restricted in certain circumstances – for example, if you don’t think the data is correct</li>
			</ul>
			<p>If you agreed to let us process your data, you have the right to:</p>
			<ul class="list list-bullet">
				<li>withdraw your consent at any time</li>
				<li>request a copy of any personal data you have provided - this copy will be provided in a structured, commonly used and machine-readable format</li>
			</ul>

			<p>If you have any of these requests, get in contact with our Data Protection Officer.</p>

			<h2 class="heading-medium">Changes to this notice</h2>
			<p>We may change this privacy notice. In that case the ‘last updated’ date at the top of this page will also change. Any changes to this privacy notice will apply to you and your data immediately. We encourage you to periodically review this privacy notice to be informed about how we are protecting your data.</p>

			<h2 class="heading-medium">Questions and complaints</h2>
			<p>The data controller for your personal data is the Cabinet Office.</p>
			<p>Contact the Data Protection Officer if you either:</p>
			<ul class="list list-bullet">
				<li>have any questions about anything in this document</li>
				<li>think that your personal data has been misused or mishandled</li>
			</ul>

			<p>Data Protection Officer<br />
			<a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a><br />
			Cabinet Office<br />
			70 Whitehall<br />
			London<br />
			SW1A 2AS</p>

			<p>You may also make a complaint to the Information Commissioner, who is an independent regulator set up to uphold information rights.</p>

			<p>Information Commissioner's Office<br />
			<a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a><br />
			0303 123 1113<br />
			Wycliffe House<br />
			Water Lane<br />
			Wilmslow<br />
			Cheshire<br />
			SK9 5AF</p>
		</div>
	</div>
</div>
