<% content_for :head do %>
	<title>Support - <%= settings.title %></title>
<% end %>

<% content_for :breadcrumb do %>
	<%== erb :'partials/_breadcrumb', :locals => {name: 'Support', href: '/support', active: true} %>
<% end %>

<div class="container">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">We got your message</h1>
			<p>A member of our product team will be in touch. We try to reply to all queries by the end of the next working day.</p>
			<p>Read more about our <a href="/features">roadmap and features</a>.</p>
		</div>
	</div>
</div>
